{% load cart_template_tags %}
<!-- HEADER -->
<header>
	<!-- top Header -->
	<div id="top-header">
		<div class="container">
			<div class="pull-left">
				<span>Welcome to Shoppers Club</span>
			</div>
			<div class="pull-right">
				<ul class="header-top-links">
					<li><a href="#">Store</a></li>
					<li><a href="#">Track Order</a></li>
					<li><a href="#">Help</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /top Header -->

	<!-- header -->
	<div id="header">
		<div class="container">
			<div class="pull-left">
				<!-- Mobile nav toggle-->
				<div class="nav-toggle">
					<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
				</div>
				<!-- / Mobile nav toggle -->
				<!-- Logo -->
				<div class="header-logo">
					<a class="logo" href="{% url 'shop-home' %}">
						{% load static %}
						<img src="{% static 'shop/img/logo.png' %}" alt="">
					</a>
				</div>
				<!-- /Logo -->

				<!-- Search -->
				<div class="header-search">
					<form>
						<input class="input search-input" type="text" placeholder="Search for products">
						<select class="input search-categories">
							<option value="0">All Categories</option>
							<option value="1">Category 01</option>
							<option value="1">Category 02</option>
						</select>
						<button class="search-btn"><i class="fa fa-search"></i></button>
					</form>
				</div>
				<!-- /Search -->
			</div>
			<div class="pull-right">
				<ul class="header-btns">
					<!-- Account -->
					<li class="header-account dropdown default-dropdown">
						{% if user.is_authenticated %}
						<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
							<div class="header-btns-icon">
								<i class="fa fa-user-o"></i>
							</div>
							<strong class="text-uppercase">{{ user.username }} <i class="fa fa-caret-down"></i></strong>
						</div>
						<a href="{% url 'logout' %}" class="text-uppercase">Logout</a>
						<ul class="custom-menu">
							<li><a href="{% url 'profile' %}"><i class="fa fa-user-o"></i> My Account</a></li>
							<li><a href="#"><i class="fa fa-heart-o"></i> My Wishlist</a></li>
							<li><a href="#"><i class="fa fa-exchange"></i> Compare</a></li>
							<li><a href="#"><i class="fa fa-check"></i> Checkout</a></li>
						</ul>
						{% else %}
						<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
							<div class="header-btns-icon">
								<i class="fa fa-user-o"></i>
							</div>
							<strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong>
						</div>
						<a href="{% url 'login' %}" class="text-uppercase">Login</a> / <a href="{% url 'register' %}" class="text-uppercase">Join</a>
						<ul class="custom-menu">
							<li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
							<li><a href="#"><i class="fa fa-heart-o"></i> My Wishlist</a></li>
							<li><a href="#"><i class="fa fa-exchange"></i> Compare</a></li>
							<li><a href="#"><i class="fa fa-check"></i> Checkout</a></li>
							<li><a href="{% url 'login' %}"><i class="fa fa-unlock-alt"></i> Login</a></li>
							<li><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Create An Account</a></li>
						</ul>
						{% endif %}
					</li>
					<!-- /Account -->

					<!-- Cart -->
					<li class="header-cart dropdown default-dropdown">
						{% if request.user.is_authenticated and request.user|cart_product %}
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
							<div class="header-btns-icon">
								<i class="fa fa-shopping-cart"></i>
								<span class="qty">{{ request.user|cart_product_count }}</span>
							</div>
							<strong class="text-uppercase">My Cart:</strong>
							<br>
							<span>Rs. {{ request.user|cart_product_total }}</span>
						</a>
						<div class="custom-menu">
							<div id="shopping-cart">
								<div class="shopping-cart-list">
									{% for order_product in request.user|cart_product %}
									<div class="product product-widget">
										<div class="product-thumb">
											<img src="{{ order_product.product.product_image.url }}" alt="">
										</div>
										<div class="product-body">
											<h3 class="product-price">Rs. {{ order_product.product.product_price }}
												<span class="qty">x
													<a href="{% url 'add-to-cart' order_product.product.slug %}">
														<i class="fa fa-plus mr-2"></i>
													</a>{{ order_product.quantity }}
													<a href="{% url 'remove-single-product-from-cart' order_product.product.slug %}">
														<i class="fa fa-minus ml-2"></i>
													</a>
												</span>
											</h3>
											<h2 class="product-name"><a href="{% url 'product-detail' order_product.product.slug %}">{{ order_product.product.product_name }}</a></h2>
										</div>
										<a href="{% url 'remove-from-cart' order_product.product.slug %}" class="cancel-btn"><i class="fa fa-trash"></i></a>
									</div>
									{% empty %}
									<div class="product product-widget">
										<div class="product-body">
											<h2 class="product-name">Your cart is empty.</h2>
										</div>
									</div>
									{% endfor %}
								</div>
								<div class="shopping-cart-btns">
									<a href="{% url 'shopping_cart' %}" class="main-btn">View Cart</a>
									<a href="{% url 'checkout' %}" class="primary-btn">Checkout <i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
						{% else %}
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
							<div class="header-btns-icon">
								<i class="fa fa-shopping-cart"></i>
								<span class="qty">{{ request.user|cart_product_count }}</span>
							</div>
							<strong class="text-uppercase">My Cart:</strong>
							<br>
							<span>Rs. {{ request.user|cart_product_total }}</span>
						</a>
						<div class="custom-menu">
							<div id="shopping-cart">
								<div class="shopping-cart-list">
									<div class="product product-widget">
										<div class="product-body">
											<h2 class="product-name">Your cart is empty.</h2>
										</div>
									</div>
								</div>
								<div class="shopping-cart-btns">
									<a href="{% url 'shopping_cart' %}" class="main-btn">View Cart</a>
									<a href="{% url 'checkout' %}" class="primary-btn">Checkout <i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
						{% endif %}
					</li>
					<!-- /Cart -->
				</ul>
			</div>
		</div>
		<!-- header -->
	</div>
	<!-- container -->
</header>
<!-- /HEADER -->