{% extends "shop/layout.html" %}
{% block content %}
{% load static %}
<!-- HOME -->
<div id="home">
	<!-- container -->
	<div class="container">
		<!-- home wrap -->
		<div class="home-wrap">
			<!-- home slick -->
			<div id="home-slick">
				<!-- banner -->
				<div class="banner banner-1">
					<img src="{% static 'shop/img/banner01.jpg' %}" alt="">
					<div class="banner-caption text-center">
						<h1>Bags sale</h1>
						<h3 class="white-color font-weak">Up to 50% Discount</h3>
						<button class="primary-btn">Shop Now</button>
					</div>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="banner banner-1">
					<img src="{% static 'shop/img/banner02.jpg' %}" alt="">
					<div class="banner-caption">
						<h1 class="primary-color">HOT DEAL<br><span class="white-color font-weak">Up to 50% OFF</span></h1>
						<button class="primary-btn">Shop Now</button>
					</div>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="banner banner-1">
					<img src="{% static 'shop/img/banner03.jpg' %}" alt="">
					<div class="banner-caption">
						<h1 class="white-color">New Product <span>Collection</span></h1>
						<button class="primary-btn">Shop Now</button>
					</div>
				</div>
				<!-- /banner -->
			</div>
			<!-- /home slick -->
		</div>
		<!-- /home wrap -->
	</div>
	<!-- /container -->
</div>
<!-- /HOME -->

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Latest Products</h2>
				</div>
			</div>
			<!-- section title -->

			<!-- Product Single -->
			{% for product in products|slice:":4" %}
			<div class="col-md-3 col-sm-6 col-xs-6">
				<div class="product product-single">
					<div class="product-thumb">
						<div class="product-label">
							<span>New</span>
							{% if product.get_discount_percentage %}
							<span class="sale">-{{ product.get_discount_percentage|floatformat }}%</span>
							{% endif %}
						</div>
<!--						<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>-->
						<img src="{{ product.product_image.url }}" alt="">
					</div>
					<div class="product-body">
						<h3 class="product-price">₹ {{ product.product_price }}
							{% if product.product_mrp %}
							<del class="product-old-price">₹ {{product.product_mrp}}</del>
							{% endif %}
						</h3>
						<div class="product-rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o empty"></i>
						</div>
						<h2 class="product-name"><a href="{% url 'product-detail' product.slug %}">{{ product.product_name }}</a></h2>
						<div class="product-btns">
							<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
							<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
							<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
						</div>
					</div>
				</div>
			</div>
				{% endfor %}
			<!-- /Product Single -->
		</div>
		<!-- /row -->

		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Electronics</h2>
				</div>
			</div>
			<!-- section title -->

			<!-- Product Single -->
			{% for product in product_list|slice:":4" %}
			<div class="col-md-3 col-sm-6 col-xs-6">
				<div class="product product-single">
					<div class="product-thumb">
						<div class="product-label">
							<span>New</span>
							{% if product.get_discount_percentage %}
							<span class="sale">-{{ product.get_discount_percentage|floatformat }}%</span>
							{% endif %}
						</div>
<!--						<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>-->
						<img src="{{ product.product_image.url }}" alt="">
					</div>
					<div class="product-body">
						<h3 class="product-price">₹ {{ product.product_price }}
							{% if product.product_mrp %}
							<del class="product-old-price">₹ {{product.product_mrp}}</del>
							{% endif %}
						</h3>
						<div class="product-rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o empty"></i>
						</div>
						<h2 class="product-name"><a href="{% url 'product-detail' product.slug %}">{{ product.product_name }}</a></h2>
						<div class="product-btns">
							<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
							<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
							<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
						</div>
					</div>
				</div>
			</div>
				{% endfor %}
			<!-- /Product Single -->
		</div>
		<!-- /row -->

		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Mobiles</h2>
				</div>
			</div>
			<!-- section title -->

			<!-- Product Single -->
			{% for product in product_list1|slice:":4" %}
			<div class="col-md-3 col-sm-6 col-xs-6">
				<div class="product product-single">
					<div class="product-thumb">
						<div class="product-label">
							<span>New</span>
							{% if product.get_discount_percentage %}
							<span class="sale">-{{ product.get_discount_percentage|floatformat }}%</span>
							{% endif %}
						</div>
<!--						<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>-->
						<img src="{{ product.product_image.url }}" alt="">
					</div>
					<div class="product-body">
						<h3 class="product-price">₹ {{ product.product_price }}
							{% if product.product_mrp %}
							<del class="product-old-price">₹ {{product.product_mrp}}</del>
							{% endif %}
						</h3>
						<div class="product-rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o empty"></i>
						</div>
						<h2 class="product-name"><a href="{% url 'product-detail' product.slug %}">{{ product.product_name }}</a></h2>
						<div class="product-btns">
							<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
							<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
							<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
						</div>
					</div>
				</div>
			</div>
				{% endfor %}
			<!-- /Product Single -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->
{% endblock content %}