{% extends "shop/layout.html" %}
{% block content %}
<!-- BREADCRUMB -->
<div id="breadcrumb">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="{% url 'shop-home' %}">Home</a></li>
			{% for product in products|slice:":1" %}
			{% if product.category.parent %}
			<li><a href="{% url 'shop-products' product.category.parent %}">{{product.category.parent}}</a></li>
			{% endif %}
			<li><a class="active" href="{% url 'shop-products' product.category %}">{{product.category}}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			{% include 'shop/side_filter_bar.html' %}
			<!-- MAIN -->
			<div id="main" class="col-md-9">
				<!-- store top filter -->
				<div class="store-filter clearfix">
					<div class="pull-left">
						<div class="sort-filter">
							<form action="../../filter/" method="get">
							<span>Sort By:</span>
							<select class="input" name="top_filter">
								<option value="0" selected>Popularity</option>
								<option value="Price-High to Low">Price-High to Low</option>
								<option value="Price-Low to High">Price-Low to High</option>
								<option value="Newest First">Newest First</option>
							</select>
							<button class="main-btn icon-btn" type="submit"><i class="fa fa-arrow-down"></i></button>
							</form>
						</div>
					</div>
					<div class="pull-right">
						<div class="row-filter">
							<a href="#" id="grid" class="active"><i class="fa fa-th-large"></i></a>
							<a href="#" id="list"><i class="fa fa-bars"></i></a>
						</div>
					</div>
				</div>
				<!-- /store top filter -->

				<!-- STORE -->
				<div id="store">
					<!-- row -->
					<div id="products" class="row">
						<!-- Product Single -->
						{% for product in products %}
						<div class="item col-md-4 col-sm-6 col-xs-6">
							<a href="{% url 'product-detail' product.slug %}">
							<div class="thumbnail product product-single">
								<div class="product-thumb img-event">
									<div class="product-label">
										<span>New</span>
										{% if product.get_discount_percentage %}
										<span class="sale">-{{ product.get_discount_percentage|floatformat }}%</span>
										{% endif %}
									</div>
									<img class="group list-group-image img-fluid" src="{{ product.product_image.url }}" alt="">
								</div>
								<div class="product-body">
									<h3 class="product-name"><a href="{% url 'product-detail' product.slug %}">{{ product.product_name }}</a></h3>
									<h5 class="product-price">₹ {{ product.product_price }}
										{% if product.product_mrp %}
										<del class="product-old-price">₹ {{product.product_mrp}}</del>
										{% endif %}
									</h5>
									<div class="product-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o empty"></i>
									</div>
									<div class="product-btns">
										<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
										<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
										<a href="{{ product.get_add_to_cart_url }}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
									</div>
								</div>
							</div>
							</a>
						</div>
						{% endfor %}
						<!-- /Product Single -->
					</div>
					<!-- /row -->
				</div>
				<!-- /STORE -->

				<!-- pagination -->
				<div class="store-filter clearfix">
					<div class="pull-right">
						<ul class="store-pages">
							{% if is_paginated %}
								<li><span class="text-uppercase">Page:</span></li>
								{% if page_obj.has_previous %}
									<li><a href="?page=1">First</a></li>
									<li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-caret-left"></i></a></li>
								{% endif %}

							{% for num in page_obj.paginator.page_range %}
								{% if page_obj.number == num %}
									<li class="active"><a style="color:#F8694A;" href="?page={{ num }}">{{ num }}</a></li>
								{% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
									<li><a href="?page={{ num }}">{{ num }}</a></li>
								{% endif %}
							{% endfor %}
								{% if page_obj.has_next %}
									<li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-caret-right"></i></a></li>
									<li><a href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
								{% endif %}
							{% endif %}
						</ul>
					</div>
				</div>
				<!-- /pagination -->
			</div>
			<!-- /MAIN -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->
{% endblock content %}

{% block extra_scripts %}
<script>
	$(document).ready(function() {
			$('#list').click(function(event){event.preventDefault();
				$('#products .item').addClass('list-group-item');
				$('#list').addClass('active');
				$('#grid').removeClass('active');
			});
			$('#grid').click(function(event){event.preventDefault();
				$('#products .item').removeClass('list-group-item');
				$('#products .item').addClass('grid-group-item');
				$('#grid').addClass('active');
				$('#list').removeClass('active');
			});
		});
</script>
{% endblock extra_scripts %}